{% extends "parking_system/navigate.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Wyszukaj Parking</h1>
<input type="text" id="searchInput" placeholder="Wprowadź nazwę, ulicę lub kod pocztowy" style="width: 300px; padding: 8px;">
<div id="suggestions" class="autocomplete-suggestions"></div>

<button id="checkAvailabilityButton" class = button>Sprawdź dostępność</button>
<div id="checkboxContainer" style="margin-top: 20px;">
    <h3>Opcje filtrowania:</h3>
    <label>
        <input type="checkbox" class="filterCheckbox" value="podziemny">
        Parking podziemny
    </label><br>
    <label>
        <input type="checkbox" class="filterCheckbox" value="dla pracowników">
        Parking dla pracowników
    </label><br>
    <label>
        <input type="checkbox" class="filterCheckbox" value="dla samochodów ciężarowych">
        Parking dla samochodów ciężarowych
    </label>
</div>
<div id="statusMessage" style="margin-top: 20px; font-weight: bold;"></div>
<script src="static/home.js"></script>
{% endblock %}
